<footer>
    <div class="logo footer-top">

        <img src="../assets/images/logo.png" alt="INVB Logo">
        <nav>
            <ul>
                <li><a href="https://www.youtube.com/@igrejadenovavidabotafogo3785" target="_blank"><i
                            class="fa-brands fa-youtube"></i> </a></li>
                <li><a href="https://www.facebook.com/IgrejaNovaVidadeBotafogo" target="_blank"><i
                            class="fa-brands fa-facebook"></i> </a></li>
                <li><a href="https://www.instagram.com/igrejanvb" target="_blank"><i class="fa-brands fa-instagram"></i>
                    </a></li>
                <li><a href="https://wa.me/5521982982802" target="_blank"><i class="fa-brands fa-whatsapp"></i> </a>
                </li>
            </ul>
        </nav>
    </div>

    <hr>

    <div class="footer-content">
        <div class="footer-links">
            <div>
                <h4>Topico 1</h4>
                <ul>
                    <li><a href="#">icone 1</a></li>
                    <li><a href="#">icone 2</a></li>
                    <li><a href="#">icone 3</a></li>
                </ul>
            </div>
            <div>
                <h4>Topico 2</h4>
                <ul>
                    <li><a href="#">icone 1</a></li>
                    <li><a href="#">icone 2</a></li>
                    <li><a href="#">icone 3</a></li>
                </ul>
            </div>
            <div>
                <h4>Topico 3</h4>
                <ul>
                    <li><a href="#">icone 1</a></li>
                    <li><a href="#">icone 2</a></li>
                    <li><a href="#">icone 3</a></li>
                </ul>
            </div>
            <div>
                <h4>Topico 4</h4>
                <ul>
                    <li><a href="#">icone 1</a></li>
                    <li><a href="#">icone 2</a></li>
                    <li><a href="#">icone 3</a></li>
                </ul>
            </div>
            <div>
                <h4>Topico 5</h4>
                <ul>
                    <li><a href="#">icone 1</a></li>
                    <li><a href="#">icone 2</a></li>
                    <li><a href="#">icone 3</a></li>
                </ul>
            </div>
            <div>
                <h4>Topico 6</h4>
                <ul>
                    <li><a href="#">icone 1</a></li>
                    <li><a href="#">icone 2</a></li>
                    <li><a href="#">icone 3</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-contact">
            <h4>INV Botafogo</h4>
            <p>95 Rua da Matriz, Rio de Janeiro - RJ</p>
            <p><i class="fa-solid fa-envelope"></i> E-mail: <a
                    href="mailto:invbotafogo.contato@gmail.com">invbotafogo.contato@gmail.com</a></p>
            <p><i class="fa-solid fa-phone"></i> Telefone: <a href="tel:+5521982982802">(21) 98298-2802</a></p>
        </div>
    </div>
</footer>