<footer>
    <div class="logo footer-top">
        <img src="/src/assets/images/logo.png" alt="INVB Logo">
        <nav>
            <ul class="social-icons">
                <li>
                    <a href="https://www.youtube.com/@igrejadenovavidabotafogo3785" target="_blank">
                        <i class="fa-brands fa-youtube fa-xl"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/igrejanovavidadebotafogo" target="_blank">
                        <i class="fa-brands fa-facebook fa-xl"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/igrejanvb" target="_blank">
                        <i class="fa-brands fa-instagram fa-xl"></i></a>
                </li>
                <li>
                    <a href="https://wa.me/5521982982802" target="_blank">
                        <i class="fa-brands fa-whatsapp fa-xl"></i></a>
                </li>
            </ul>
        </nav>

    </div>

    <hr>

    <div class="footer-content">
        <div class="footer-links">
            <!-- Grupo: Institucional -->
            <div>
                <!-- <h4>Institucional</h4> -->
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <!-- <li><a href="./about.html">Sobre</a></li> -->
                    <li><a href="./contato.html">Contato</a></li>
                    <li><a href="./doe.html">Doe</a></li>
                </ul>
            </div>

            <!-- Grupo: Espiritual -->
            <div>
                <!-- <h4>Espiritual</h4> -->
                <ul>
                    <!-- <li><a href="./estudo.html">Escola Bíblica</a></li>
                    <li><a href="./oracao.html">Pedido de Oração</a></li> -->
                    <li><a href="./cultos.html">Cultos Online</a></li>
                </ul>
            </div>

            <!-- Grupo: Ministérios (parte 1) -->
            <div class="footer_infos">
                <!-- <h4>Ministérios</h4> -->
                <ul>
                    <li><a href="./ministries.html?ministerio=louvor">Ministério de Louvor</a></li>
                    <li><a href="./ministries.html?ministerio=infantil">Ministério Infantil</a></li>
                    <li><a href="./ministries.html?ministerio=intercessao">Ministério de Intercessão</a></li>
                    <li><a href="./ministries.html?ministerio=comunicacoes">Ministério de Comunicações</a></li>
                </ul>
            </div>

            <!-- Grupo: Ministérios (parte 2) -->
            <div class="footer_infos">
                <ul>
                    <li><a href="./ministries.html?ministerio=juventude">Ministério da Juventude</a></li>
                    <li><a href="./ministries.html?ministerio=mulheres">Ministério de Mulheres</a></li>
                    <li><a href="./ministries.html?ministerio=guerreiros">Ministério de Guerreiros</a></li>
                    <li><a href="./ministries.html?ministerio=introducao">Ministério de Introdução & Recepção</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="footer_infos footer-contact">
            <h4>INV Botafogo</h4>
            <p>Rua da Matriz, 95 - Rio de Janeiro/RJ</p>
            <p><i class="fa-solid fa-envelope"></i> E-mail: <a
                    href="mailto:invbotafogo.contato@gmail.com">invbotafogo.contato@gmail.com</a></p>
            <p><i class="fa-solid fa-phone"></i> Telefone: <a href="tel:+5521982982802">(21) 98298-2802</a></p>

        </div>
    </div>

    <div class="footer-copyright">
        © 2025 Igreja de Nova Vida em Botafogo. Todos os direitos reservados.
    </div>
</footer>