<header>
    <div class="logo">
        <a href="index.html">
            <img src="../assets/images/logo.png" alt="INVB Logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./cultos.html">Cultos</a></li>
            
            <!-- <li><a href="./estudo.html">Escola Bíblica</a></li> -->
            <!-- <li><a href="./oracao.html">Pedido de Oração</a></li> -->
            <!-- Ministérios Dropdown -->
            <li class="menu-item">
                <a href="./ministries.html">Ministérios</a>
                <ul class="submenu">
                    <li><a href="./ministries.html?ministerio=louvor">Louvor</a></li>
                    <li><a href="./ministries.html?ministerio=infantil">Infantil</a></li>
                    <li><a href="./ministries.html?ministerio=intercessao">Intercessão</a></li>
                    <li><a href="./ministries.html?ministerio=comunicacoes">Comunicações</a></li>
                    <li><a href="./ministries.html?ministerio=juventude">Juventude</a></li>
                    <li><a href="./ministries.html?ministerio=mulheres">Mulheres</a></li>
                    <li><a href="./ministries.html?ministerio=guerreiros">Guerreiros</a></li>
                    <li><a href="./ministries.html?ministerio=introducao">Introdução & Recepção</a></li>
                </ul>
            </li>
            <li><a href="./doe.html">Doe</a></li>
            <li><a href="./contato.html">Contato</a></li>
        </ul>
    </nav>
</header>