body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/images/image.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos do cabeçalho */
header {
    background-color: transparent;
    color: whitesmoke;
    padding: 15px 0;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; /* Mantém o logo à esquerda e o menu à direita */
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 70px;
}



.logo {
    flex-shrink: 0; /* Impede que o logo encolha */
}

.logo img {
    max-height: 65px;
    filter: brightness(0) invert(1);
    margin-left: 25px;

}

header nav {
    display: flex;
    justify-content: flex-end; /* Alinha os itens do menu à direita */
    flex-grow: 1; /* Ocupa o espaço restante */
    margin-left: 40px;
}

header nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: flex-end; /* Garante que os links sejam alinhados à direita */
}



nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Estilos do dropdown */
.menu-item {
    position: relative;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    min-width: 180px;
    background-color: transparent;
    /* background-color: #001f3d; */
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.submenu li a {
    padding: 10px 15px;
    text-decoration: none;
    color: whitesmoke;
    display: block;
}

.submenu li a:hover {
    background-color: #ffcc00;
    color: black;
}



/* Primeira Seção - Bem-vindo */
.section-home {
    display: flex;
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    height: 100vh; /* Ocupa toda a altura da tela */
    /*height: calc(100vh - 70px); /* Compensa a altura do header fixo */
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 1s ease-out;
    text-align: center; /* Centraliza o texto */
}

.section-home .text h1, .section-home .text h4, .section-home .text p {
    margin: 0; /* Remove qualquer margem do h1, h4, e p */
}

.section-home .text h1 {
    font-size: 3rem;
}

.section-home .text h4 {
    font-size: 1.8rem;
}

.section-home .text p {
    font-size: 1.5rem;
}

.section-home .text h1, .section-home .text h4, .section-home .text p {
    font-family: 'Montserrat', sans-serif;
}

/* Quando a seção "Bem-vindo" estiver em fade-out */
.section-home.fade-out{
    opacity: 0;
    pointer-events: none; /* Evita interação enquanto está em fade-out */
}

/* Seção Cultos */
.section-cultos {
    padding: 50px;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section-cultos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section-cultos p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.map-container {
    flex: 1;
    max-width: 45%;
    margin-left: 20px;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 10px;
}



/* Seção Contato */
.section-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    color: whitesmoke;
    /* background: url('~/images/image2.png') no-repeat center center fixed; */
    background-size: cover;
    transition: opacity 1s ease-out;
    text-align: center; /* Centraliza o texto */
}

.contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.contact-form button{
    background-color: #ffcc00;
    color: #333;
    font-size: 1rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: block;
}

.contact-form button:hover {
    background-color: #e6b800
}

/* FOOTER */
footer {
    background-color: #000;
    color: #fff;

    /* text-align: center; */
}

footer nav {
    display: flex;
    flex-grow: 1; /* Ocupa o espaço restante */
    gap: 0;
}

footer nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    display: flex;
    gap: 5px;
    justify-content: flex-end; /* Garante que os links sejam alinhados à direita */
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0;
}

.footer-logo {
    max-width: 200px;
}

.social-icons {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
}

.social-icons li a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease-in-out, transform 0.3s;
}

.social-icons li a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

hr {
    border: none;
    border-top: 1px solid #fff;
    margin: 5px 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 5px;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.footer-links h4 {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
    margin-left:20px;
}

.footer-links ul li a {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.5s;
    font-weight:400;
    
}

.footer-links ul li a:hover {
    color: #fff;
}

.footer-contact {
    width: auto; 
    text-align: left;
}

.footer-contact h4 {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight:bolder;
    color: #fff;
}

.footer-contact p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-contact a {
    color: #ffcc00;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

/* Próximo Culto */
.proximo-culto {
    background-color: #000;
    color: #fff;
    top: 0;
    margin-top: 140px;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-top: 3px solid #ffcc00;
    border-bottom: 3px solid #ffcc00;
}

.proximo-culto a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: 600;
}

/* Últimos Cultos */
.ultimos-cultos {
    background-color: transparent;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.ultimos-cultos h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffcc00;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.videos-container iframe {
    width: 100%;
    max-width: 360px;
    height: 215px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
